.searchBar {
    padding: 20px 0;
    border-bottom: 1px solid #EFEFEF;
    background: #edf2f7;
}

.form {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

.inputSearch {
    outline: none;
    padding: 0 15px 0 50px;
    min-height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 15px 50%;
}